$colorYellow: #ddd09a;
$colorPink: #c55074;
$colorBlue: #4fc4c1;
$colorPurple: #5c1f4b;
$colorBabyPurple: #e2c9ed;
$colorFog: #abaeb0;
$colorDarkGrey: #2c2c2c;

$fireToIceGradient: linear-gradient(
  90deg,
  rgba(254, 0, 0, 1) 0%,
  rgba(197, 80, 116, 1) 25%,
  rgba(79, 196, 193, 1) 75%,
  rgba(0, 255, 248, 1) 100%
);
