@import "./shared/assets/css/settings.colors";

:host {
  display: flex;
  flex-direction: column;
  padding: 70px 0 0 0;
  flex: 1 1 auto;
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: $colorFog;
  overflow-y: hidden;
}

main {
  display: flex;
  min-height: 100vh;
  width: 100vw;
  overflow-y: hidden;
  padding: 0;
  margin: 0;
  flex-direction: row;
  align-items: center;
  justify-content: baseline;
}
